html{
    font-size: 14px;
}

.header{
    width: 1366px;
    padding: 0.25rem;
    margin: 0.25rem auto;
    border-bottom: 3px solid green;
    background-color: lightgreen;
}
.header_location{
    display: inline-block;
}
.header_download_link{
    display: inline-block;
    float: right;
}

.main{
    width: 1366px;
    margin: 0 auto;
    border: 3px solid lightgray;
}

.code{
    font-size: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: monospace;
}

.page_list_item{
    border-bottom: 1px solid lightcyan;
    margin: 0.25rem;
}

.page_list_item_index, .page_list_item_name{
    display: inline-block;

}
.page_list_item_index{
    float: left;
    margin: 0 1rem;
    min-width: 4rem;
}

.block{
    display: block;
    border-bottom: 2px solid lightgray;
}

.block_origin, .block_zhcn{
    display: inline-block;
    padding: 1rem;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
}

.block_zhcn_edit_button{
    display: inline-block;
    color: darkgreen;
}

.block_zhcn_content_list{
    display: inline-block;
}
.block_zhcn_content{
    display: inline-block;
    margin-bottom: 0.25rem;
    background-color: lightyellow;
    border-bottom: 1px solid lightgreen;
}

#edit-popup-bg{
    position: fixed;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    background-color: rgba(1,1,1,0.7);
}
#edit-popup{
    position: relative;
    display: block;
    width: 70%;
    max-height: 80%;
    top: 10%;
    overflow-y: auto;
    padding: 0.25rem 1rem;
    margin: 0 auto;
    background-color: azure;
}
#edit-src{
    display: block;
    width: 100%;
    border: 1px solid darkcyan;
    margin: 0.5rem 0;
}
#edit-dst{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 4rem;
    margin: 0.5rem 0;
    border: 1px solid green;
    padding: 0;
}
#edit-buttons{
    display: block;
    text-align: center;
    margin: 0.5rem;
}
#edit-commit, #edit-cancle{
    display: inline-block;
    border: 2px solid gray;
    margin: 0 2rem;
}
#edit-commit{
    background-color: lightgreen;
}
#edit-cancle{
    background-color: lightpink;
}

.hide{
    display: none;
}

