
.main{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid lightgray;

}

.page_list_item{
    border-bottom: 1px solid lightcyan;
}

.page_list_item_index, .page_list_item_name{
    display: inline-block;

}
.page_list_item_index{
    float: left;
    margin-left: 1rem;
}

.block{
    display: block;
    border-bottom: 2px solid lightgray;
}

.block_origin, .block_zhcn{
    display: inline-block;
    margin: 1rem;
}

.block_zhcn_edit_button{
    display: inline-block;
    color: darkgreen;
}

.block_zhcn_content_list{
    display: inline-block;
    border: 1px solid darkgray;
    margin: 0.25rem;
}

